{% extends "base.html" %}
{% block title %}Article2{% endblock %}

{% block content %}

    <!--There is where the body content will go-->
    <div class="container-fluid" id="article2-content">
        <!-- AAA Testing Content -->
        <div class="container text-center">
            <p class="h1">AAA Testing</p>
            <br>
            <img src="{{ url_for('static', filename='images/AAA.png') }}">
            <p class="text-justify h3"><b>What is AAA Testing?</b></p>
            <p class="lead text-justify">
                The AAA pattern is a pattern for structuring tests. It breaks each test down into three parts - ARRANGE,
                ACT, and ASSERT, where each part is a step leading to the next.
                <br>
                The <b>ARRANGE</b> step sets up the test’s input values.
                <br>
                The <b>ACT</b> step prompts the primary function being tested.
                <br/>
                And finally, the <b>ASSERT</b> step verifies that the output of the function is what was expected.
                <br/>
                All in all, the AAA pattern is only meant to be a guideline. It is a structure, or a way of thinking
                about and arranging your tests so that they can be clearly understood. There is no package or
                downloadable tool with documentation. Instead, it defers to you, the author, how best to create and use
                it.
            </p>
            <br/>
            <p class="h3 text-justify"><b>Why testing is important?</b></p>
            <p class="text-justify lead">Software testing is a crucial component of software product development because
                it improves
                consistency and performance. The main benefit of testing is the identification and subsequent removal of
                the errors.
                However, testing also helps developers and testers to compare actual and expected results in order to
                improve quality. If the software production happens without testing it, it could be useless or sometimes
                dangerous for customers.
            </p>
            <br/>
            <p class="h3 text-justify"><b>Testing external data</b></p>
            <p class="text-justify lead">
                Python unit test library is used to run the unit tests for Python classes and functions.
                It is a built-in library provided by Python, so you do not need to install any third-party library to use it.
                Pandas is a powerful and flexible Python package that
                allows you to work with labeled and time series data. Functions like the Pandas read_csv() method enable you to work with
                files effectively.
            </p>
        </div>
    </div>
{% endblock %}