{% extends "base.html" %}
{% block title %}Article2{% endblock %}

{% block content %}

<!--There is where the body content will go-->
<div id="origin-content" class="container-fluid">
    <div class="container text-center">
        <h1>Development of Internet</h1>
    <hr/>
    <div class="container">

        <div class="row">
            <p class="h3 text-center"><b><u>J.C.R Licklider</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="lead text-justify">
                    Licklider became interested in information technology early in his career. His ideas foretold of graphical computing,
                    point-and-click interfaces, digital libraries, e-commerce, online banking, and software that would exist on a network
                    and migrate wherever it was needed.
                    In 1962, MIT computer scientist J.C.R. Licklider came up with the idea for a global computer network.
                    He later shared his idea with colleagues at the U.S. Department of Defense Advanced Research Projects Agency (ARPA).
                    Licklider was instrumental in conceiving, funding and managing the research that led to modern personal computers and
                    the Internet.
                    Much like Vannevar Bush's, Licklider's contribution to the development of the Internet consists of ideas, not
                    inventions.He foresaw the need for networked computers with easy user interfaces.
                </p>
            </div>
            <div class="text-center col-md-3 col-sm-3 col-xs-12">
                <img class="img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/JCR.jpg') }}" alt="Sputnik"/>
                <br/>
                <div class="caption"><b><i>JCR Licklider</i></b></div>
                <br/>
            </div>
        </div>
        <hr/>

        <!-- Packet Switching -->

        <div class="row">
            <p class="h3 text-center"><b><u>Lawrence .G. Roberts</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    <b>Lawrence .G. Roberts</b>, Roberts' plan for the ARPANET was the first wide
                    area packet-switching network with distributed control, similar to Donald Davies' 1965 design.
                    ARPA issued a request for quotation (RFQ) to build the system, which was awarded to Bolt, Beranek and Newman (BBN).
                    Significant aspects of the networks's operation including routing, flow control, software design and network control
                    were developed by the BBN IMP team, which included Bob Kahn.
                    Roberts managed its implementation and contracted with Leonard Kleinrock in 1968 to carry out mathematical modelling of
                    the packet-switched network's performance. Roberts engaged Howard Frank to consult on the topological design of the network.
                    Frank made recommendations to increase throughput and reduce costs in a scaled-up network.When Robert Taylor was sent to
                    Vietnam in 1969 and then resigned, Roberts became director of the IPTO.<br/>
            </div>
            <div class="text-center col-md-3 col-sm-3">
                <img class="img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/Robert.jpg') }}" alt="origin_2"/>
                <br/>
                <div class="caption"><b><i>Lawrence .G. Roberts</i></b></div>
                <br/>
            </div>
        </div>
        <hr/>

        <!-- Hot Potato Routing -->

        <div class="row">
            <p class="h3 text-center"><b><u>Leonard Klienrock</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    <b>Paul Baran</b>, a researcher at RAND, offered a solution: design a more robust communications
                    network using “redundancy” and “digital” technology. At the time, naysayers dismissed Baran's idea
                    as unfeasible. But working with colleagues at RAND, Baran persisted. This effort would eventually
                    become the foundation for the World Wide Web. Baran also developed the concept of dividing
                    information into “message blocks” before sending them out across the network. Each block would be
                    sent separately and rejoined into a whole when they were received at their destination.
                </p>
                <p class="text-justify lead">A British man named <b>Donald Davies</b> independently devised a very
                    similar system, but he called the message blocks “packets,” a term that was eventually adopted
                    instead of Baran's message blocks. This method of “packet switching” is a rapid store-and-forward
                    design. When a node receives a packet it stores it, determines the best route to its destination,
                    and sends it to the next node on that path. If there was a problem with a node (or if it had been
                    destroyed), packets would simply be routed around it.
            </div>

            <div class="text-center col-md-3 col-sm-3">
                <img class="img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/origin_3_pb.png') }}" alt="origin_3"/>
                <br/>
                <div class="caption"><b><i>Paul Baran </i></b></div>
                <br/>
            </div>
        </div>
        <hr/>

        <!-- Intergalactic Computer Network -->

        <div class="row">
            <p class="h3 text-center"><b><u>Intergalactic Computer Network</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    Psychologist <b>Joseph Carl Robnett Licklider</b> (Prof at Massachusetts Institute of Technology),
                    in 1962, envisioned a globally interconnected set of computers through which everyone could quickly
                    access data and programs from any site. In spirit, the concept was very much like the Internet of
                    today. His original and far-sighted ideas outlined many of the features the Internet offers today:
                    graphical computing, user-friendly interfaces, digital libraries, e-commerce, online banking, and
                    cloud computing.
                </p>
            </div>

            <div class="text-center col-md-3 col-sm-3">
                <img class="img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/origin_4_jcr.png') }}" alt="origin_4"/>
                <br/>
                <div class="caption"><b><i>J.C.R. Licklider</i></b></div>
                <br/>
            </div>
        </div>
        <hr/>

        <!-- First Wide-area Network -->

        <div class="row">
            <p class="h3 text-center"><b><u>First Wide-area Network</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    In 1966, <b>Dr. Lawrence Roberts</b> (Director of Info. Processing Technology, ARPA)with his
                    colleague Thomas Marrill, Roberts used the Western Union Telephone Line to link two supercomputers
                    across the country (the Q–32 at the System Development Corporation in Santa Monica, California, and
                    the TX–2 at the Lincoln Lab, in Lexington, Massachusetts) in a time-shared environment.
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}
