{% extends "base.html" %}
{% block title %}Article1{% endblock %}

{% block content %}

    <!--There is where the body content will go-->
    <div class="container-fluid" id="article2-content">
        <!-- AAA Testing Content -->
        <div class="container text-center">
            <p class="h1">Internet History</p>
            <br>
            <img src="{{ url_for('static', filename='images/Internet.jpg') }}">
            <p class="lead text-justify">
                The Internet is a global network of billions of computers and other electronic devices. With the Internet,
                it's possible to access almost any information, communicate with
                anyone else in the world, and do much more. You can do all of this by connecting a computer to the Internet,
                is also called going online.
            </p>
            <br/>
            <p class="text-justify lead">The Internet started in the 1960s as a way for government researchers to share information.
                Computers in the '60s were large and immobile and in order to make use of information stored in any one computer,
                one had to either travel to the site of the computer or have magnetic computer tapes sent through the conventional
                postal system.
            </p>
            <p class="text-justify lead">"The Soviet Union's launch of the Sputnik satellite spurred the U.S. Defense Department to consider
                ways information could still be disseminated even after a nuclear attack.
                This eventually led to the formation of the ARPANET (Advanced Research Projects Agency Network), the network that
                ultimately evolved into what we now know as the Internet
            </p>
            <p class="text-justify lead">A scale model of the UNIVAC I (the name stood for Universal Automatic Computer) which was delivered
               to the Census Bureau in 1951. It weighed some 16,000 pounds, used 5,000 vacuum tubes, and could perform about
                1,000 calculations per second. It was the first American commercial computer, as well as the first computer designed
               for business use.
            </p>
        </div>
    </div>
{% endblock %}