{% extends "base.html" %}
{% block title %}Article2{% endblock %}

{% block content %}

<!--There is where the body content will go-->
<div id="origin-content" class="container-fluid">
    <div class="container text-center">
        <h1>Development of Internet</h1>
    <hr/>
    <div class="container">

        <div class="row">
            <p class="h3 text-center"><b><u>J.C.R Licklider</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="lead text-justify">
                    Licklider became interested in information technology early in his career. His ideas foretold of graphical computing,
                    point-and-click interfaces, digital libraries, e-commerce, online banking, and software that would exist on a network
                    and migrate wherever it was needed.
                    In 1962, MIT computer scientist J.C.R. Licklider came up with the idea for a global computer network.
                    He later shared his idea with colleagues at the U.S. Department of Defense Advanced Research Projects Agency (ARPA).
                    Licklider was instrumental in conceiving, funding and managing the research that led to modern personal computers and
                    the Internet.
                    Much like Vannevar Bush's, Licklider's contribution to the development of the Internet consists of ideas, not
                    inventions.He foresaw the need for networked computers with easy user interfaces.
                </p>
            </div>
            <div class="text-center col-md-3 col-sm-3 col-xs-12">
                <img class="img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/JCR.jpg') }}" alt="Sputnik"/>
                <br/>
                <div class="caption"><b><i>JCR Licklider</i></b></div>
                <br/>
            </div>
        </div>
        <hr/>

        <!-- Packet Switching -->

        <div class="row">
            <p class="h3 text-center"><b><u>Lawrence .G. Roberts</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    <b>Lawrence .G. Roberts</b>, Roberts' plan for the ARPANET was the first wide
                    area packet-switching network with distributed control, similar to Donald Davies' 1965 design.
                    ARPA issued a request for quotation (RFQ) to build the system, which was awarded to Bolt, Beranek and Newman (BBN).
                    Significant aspects of the networks's operation including routing, flow control, software design and network control
                    were developed by the BBN IMP team, which included Bob Kahn.
                    Roberts managed its implementation and contracted with Leonard Kleinrock in 1968 to carry out mathematical modelling of
                    the packet-switched network's performance. Roberts engaged Howard Frank to consult on the topological design of the network.
                    Frank made recommendations to increase throughput and reduce costs in a scaled-up network.When Robert Taylor was sent to
                    Vietnam in 1969 and then resigned, Roberts became director of the IPTO.<br/>
            </div>
            <div class="text-center col-md-3 col-sm-3">
                <img class="img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/Robert.jpg') }}" alt="origin_2"/>
                <br/>
                <div class="caption"><b><i>Lawrence .G. Roberts</i></b></div>
                <br/>
            </div>
        </div>
        <hr/>

        <!-- Hot Potato Routing -->

        <div class="row">
            <p class="h3 text-center"><b><u>Leonard Klienrock</u></b></p><br/>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    Larry Roberts brought Leonard Kleinrock into the ARPANET project informally in May 1967.
                    Roberts learned about packet switching at the October 1967 Symposium on Operating Systems Principles.
                    In the mid-1970s, Kleinrock published research on the theory and application of queuing theory to computer networks.
                    He supervised many graduate students who worked on the communication protocols for internetworking which led to the Internet,
                    including Steve Crocker, Vint Cerf and Jon Postel. Collectively, they produced many research papers.
                    His theoretical work on hierarchical routing in the late 1970s with student Farouk Kamoun remains critical to the operation of the Internet today.
                    The first message on the ARPANET was sent by a UCLA student programmer, Charley Kline, who was supervised by Kleinrock.
                    Kleinrock claims to have committed the first illegal act on the Internet, having sent a request for return of his electric razor after a meeting in England in 1973. At the time, use of the ARPANET for personal reasons was unlawful.
                </p>
                </div>
            <div class="text-center col-md-3 col-sm-3">
                <img class="img-responsive img-thumbnail center-block" src="{{ url_for('static', filename='images/Kliendrok.jpg') }}" alt="origin_2"/>
                <br/>
                <div class="caption"><b><i>Leonard Klienrock</i></b></div>
                <br/>
            </div>
        </div>
        <hr/>
    </div>
</div>
</div>

{% endblock %}
