{% extends "base.html" %}
{% block title %}Article2{% endblock %}

{% block content %}

    <!--There is where the body content will go-->
    <div class="container-fluid" id="article2-content">
        <!-- AAA Testing Content -->
        <div class="container text-center">
            <div class="text-center">
            <p class="h1"><b>PYLINT</b></p>

                <img src="{{ url_for('static', filename='images/Pylintlogo.png') }}">
            </div>
            <br/>
            <p class="text-justify h3"><b>Pycharm</b>Python developers Looking for an IDE that is user-friendly and easily deployable and works across operating systems at the same time???</p>
            <p class="text-center">
                <b>Pycharm</b> is for your rescue:PyCharm is an integrated development environment (IDE) used in computer programming, specifically for the Python language.
                It provides code analysis,debugger, an integrated unit tester,and supports web development with Django as well as data science with Anaconda.
                <br/>
                 <b>Now a query would bug you. How would you test your code??</b>
                <br/><br/>
                <b>And here comes Pylint:</b>
                <br/><br/>
                Pylint is a tool that checks for errors in Python code, tries to enforce a coding standard and looks for code smells. It can also look for certain type errors, it
                can recommend suggestions about how particular blocks can be refactored and can offer you details about the code's complexity.
                Now How would you demonstrate it in your code?
                <br/>
                Than execute the following commands in terminal :
                <br/>
                1 ] pip install -r requirements.txt : This will install all the pylint requirements from the python file - requirements.txt
                pytest --pylint --cov : This command would initiate unit testing.
                Successful completion of testing would display a chart with message 100% completion message.
            </p>

            <br/>
            <p class="h3 text-justify"><b>Object Oriented Programming</b></p>
            <p class="text-center">An approach to designing and building applications that are flexible, natural, well-crafted, and testable by focusing on objects that interact cleanly with one another.
                Conceptually, objects are like the components of a system. Think of a program as a factory assembly line of sorts. At each step of the assembly line a system component processes some material, ultimately transforming raw material into a finished product.
                An object contains data, like the raw or preprocessed materials at each step on an assembly line, and behavior, like the action each assembly line component performs.
            </p>
            <p class="text-center">
                1] Factory Instantiation : Factory Method is a creational
                design pattern that provides an interface for creating objects in a superclass, but allows subclasses to alter the type of objects that will be created.
                <br/><br/>
                2] Object: In object-oriented programming (OOP), objects are the things you think about first in designing a program and they are also the units of code that are
                eventually derived from the process.
                Each object is an instance of a particular class or subclass with the class's own methods or procedures and data variables.
                <br><br/>
                3] Class: The code describing a particular entity in the application, such as Customer, Order, or Address.
                The class contains the code defining the properties and methods
                <br><br/>
                4] Namespace : Namespaces in Python. A namespace is a collection of currently defined symbolic names along with information about the object that
                each name references.
                <br>
                5] Property: The property() method takes the get, set and delete methods as arguments and returns an object of the property class.
                <br>
                6] Method: The method is implicitly used for an object for which it is called. The method is accessible to data that is contained within the class.
                <br>
                7] Object Variable: The variable used when creating an object.
                <br>
                For example, var myCustomer = new Customer();
                <br>
                In this example, myCustomer is the object variable.
                <br>
                Use the object variable to set the properties and call the methods. The object variable retains the state of the object.
                <br>
                8] Method signature: The code defining the method function including the function name and the set of parameters.
                The signature does not include the return type. Every function signature within a class must be unique.
                The signature is used to “match up” calls to the function.
                <br>
                9] Constructors : Constructors are generally used for instantiating an object. The task of constructors is to
                initialize(assign values) to the data members of the class when an object of the class is created.
                In Python the __init__() method is called the constructor and is always called when an object is created.
                <br>
                10] Fixture : Fixtures are functions, which will run before each test function to which it is applied. Fixtures are used
                to feed some data to the tests such as database connections, URLs to test and some sort of input data.
                <br>
                11] Type Hint : Type hinting is a formal solution to statically indicate the type of a value within your Python code.
                <br>
                12] Type Cast : There may be times when you want to specify a type on to a variable. This can be done with casting.
                Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.
                <br>
                13] Unit Test : In computer programming, unit testing is a software testing method by which individual
                units of source code—sets of one or more computer program modules together with associated control data,
                usage procedures, and operating procedures—are tested to determine whether they are fit for use.
                <br>
                14] Static Variable :When we declare a variable inside a class but outside any method, it is called as class or
                static variable in python. Class or static variable can be referred through a class but not directly through an instance.
                <br>
                15] Facade : Facade is a structural design pattern that provides a simplified interface to a complex system of classes,
                library or framework.
                <br>
                16] Design Patterns: Design Patterns is the most essential part of Software Engineering, as they provide the
                general repeatable solution to a commonly occurring problem in software design. They usually represent some of
                the best practices adopted by experienced object-oriented software developers.
                <br>
            </p>
        </div>
    </div>


{% endblock %}